* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;

    width: 100%;

    display: flex;
    flex-direction: column;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    text-align: center;
    justify-content: center;
    min-height: 80px;
    height: auto; 
    width: 100%;
}
header > h1 {
    font-size: 1.5rem;
    width: auto;
    margin: 10px auto;
}
#contato {
    text-align: center;
    padding: 0;
}
#contato > p {
    display: inline-block;
    width: auto;
}
#barra {
    height: 0.6rem;
    width: 100%;
    padding: 0;
    margin: 0;
}
h2 {
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 8px;
}
p {  
    font-size: 0.9rem;
}
a {
    text-decoration: none;
    font-size: 0.9rem;
}
ul {
    font-size: 0.9rem;

    padding-left: 2rem;
    margin: 0.2rem auto;
}
main {
    max-width: 900px;
    width: 100%;
    padding: 0px 3%;
    margin: 0px auto;
    flex-grow: 1;
    box-sizing: border-box;
}
#sobre_mim {
    margin-bottom: 0.7rem;
}
#conhecimentos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0px auto;
    margin: 5px auto 0px auto;
}
.lings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85px;

    text-align: center;
    text-decoration: none;
    font-size: 16px;

    padding: 14px 16px;
    border-radius: 6px;
    border: 1px solid;
    margin: 5px 0.3rem;
}
.lings > img {
    width: 50px;
    height: 50px;
}
.lings > p {
    margin: 0px;
    font-size: 1rem;
}
#mais_ursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#mais, #cursos {
    font-size: 0.9rem;
    flex: 1 0 40%;
    margin-bottom: 1rem;
    width: 40%;
}
#mais > ul, p {
    margin: 1px auto;
}
#projetos > p > a {
    font-weight: 600;
}
#perfil {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin: 20px auto;
    font-weight: 600;
    font-size: 1rem;
}

a:hover {
    text-decoration: underline;
}
#cursos > ul{
    list-style-type: decimal;
}
#gestao, #humanas {
    list-style-type: lower-roman;
    list-style-position: inside;
    padding-left: 1rem;

}

/*#color_bar {
    width: 100vw;
    height: 10px;
    background-image: linear-gradient(to right, #cc02ff, #360099);
}*/
footer {
    text-align: center;
    height: 15vh;
    width: 100%;
}
footer > h4 {
    font-weight: 400;

}
@media screen and (max-width: 600px){
    #contato {
        margin-bottom: 0.2rem;
    }
    main {
        width: 100%;
        padding: 0px 2%;
        margin: 0;
    }
    #color_bar {
        width: 100%;
    }
    .sobre_mim {
        margin-top: 10px;
    }
    #mais_ursos {
        flex-direction: column;
    }
    #mais, #cursos {
        flex: 1 0 100%;
        width: 100%;
        margin: 0;
    }
    #mais {
        margin-bottom: 1rem;
    }
}
@media screen and (max-width: 340px){
    header > h1 {
        font-size: 1rem;
    }
    main {
        width: 96%;
        padding: 0px 2%;
        margin: 0;
    }
    h2 {
        font-size: 0.9rem;
    }
    p, a {
        font-size: 0.8rem;
    }
    .lings > p {
        font-size: 0.9rem;
    }
}