:root {
    --marinho:  #070C26;
    --forte: #07338C;
    --claro: #5F49F2;
    --cinza: #69788C;
    --branco: #F2F2F2;
    --preto: #000000;
}

header {
    background-color: var(--forte);
    color: var(--branco);
}
main {
    background-color: var(--branco);
}
h2 {
    color: var(--forte);
}
.lings {
    border-color: #07338C;
}
p, a {
    color: var(--marinho);
}
#barra {
    width: 100vw;
    height: 10px;
    background-color: #5F49F2;
}
footer {
    color: var(--cinza);
    background-color: var(--forte);
}