:root {
    --marinho:  #070C26;
    --forte: #07338C;
    --claro: #5F49F2;
    --cinza: #69788C;
    --branco: #F2F2F2;
    --preto: #000000;
}
h2 {
    color: var(--forte);
}
p, a {
    color: var(--marinho);
}
header {
    background-color: var(--forte);
    color: var(--branco);
}
#contato > p {
    color: var(--branco);
}
main {
}
.lings {
    border-color: #07338C;
}

.projetos-cards {
    border-color: var(--claro);
}
.projetos-cards.opaco {
    border-color: var(--branco);
}

.card-text > h3,
.card-text > p {
    color: var(--claro);
}

#perfil {
    background-color: var(--forte);
}
#perfil > p > a {
    color: var(--branco);
}
#perfil > p {
    color: var(--branco);
}
#barra {
    background-color: #5F49F2;
}

footer {
    color: var(--branco);
    background-color: var(--forte);
}